## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
In = 9
print( In )

9

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
Float = 8.5 
print (type(Float))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print (type(In))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
Name = "Alexandra"

5) Crear una variable que contenga un número complejo

In [5]:
Complex = 1 + 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print( type (Complex) )

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
import math
Pi_aprox = math.ceil(math.pi)
print ( Pi_aprox )

4

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
a = True
b = 'True'

if a != b:
    print ("Son diferentes")
else:
    print ("son iguales")

Son diferentes

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [14]:
print ('Variable booleana: ' , type(a))
print ('Variable tipo stg: ' , type(b))

Variable booleana:  <class 'bool'>
Variable tipo stg:  <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
sum = 9 +4.5

11) Realizar una operación de suma de números complejos

In [16]:
Complex + (3 +5j)

(4+8j)

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
Complex + sum

(14.5+3j)

13) Realizar una operación de multiplicación

In [18]:
sum * 3

40.5

14) Mostrar el resultado de elevar 2 a la octava potencia

In [19]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [21]:
div = 27/4
print (div)

6.75

16) De la división anterior solamente mostrar la parte entera

In [24]:
n = int(div)
print (n)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
m = 27%4
print (m )

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [26]:
(4 * n) + m

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [27]:
stg_1 = "hola "
stg_2 = "mundo"

print (stg_1 + stg_2)

hola mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [29]:
s = "2"
i = 2

if s == i:
    print('Son en mismo tipo de variable')
else:
    print('No son en mismo tipo de variable')

No son en mismo tipo de variable

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [30]:
s = int(s)

if s == i:
    print('Son en mismo tipo de variable')
else:
    print('No son en mismo tipo de variable')

Son en mismo tipo de variable

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [35]:
#Por la coma, no se considera como un separador entre entero y decimal dentro de python
# la manera correcta es la siguiente: 
a = float ( '3.8' )

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [36]:
a = 3
a += 4

print (a)

7

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [38]:
# binario es la forma de almacenamiento de datos en el pc
# es una representación de los valores numéricos

# acá se pasa el valor de 0001 en sistema binario a 0100 que representa el 4 en el sistema decimal
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [39]:
# no es permitido porque no son el mismo tipo de datos
# '2' es un valor stg por lo que no se puede realizar operaciones aritméticas
# 2 es un valor decimal, por lo que no se puede hacer concatenación con un valor tipo stg

# Se podría hacer si ambos valores fueran del mismo tipo:

print (2 + 2) # como valor decimal, es decir, valores tipo int
print ('2' + '2') # como concatenación de caracteres, de valores tipo stg

4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [41]:
# Tipo entero:

print (123 *4)

# Tipo cadena de caracteres:

print ( 'Buenas ' *2)

492
Buenas Buenas